html, body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0;
}

.header {
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #FCD64F;
    padding: 0;
    margin: 0;
}

.logo-header {
    width: 4rem;
}

.div-badges {
    display: flex;
    align-items: center;
}

.badge-facebook {
    width: 2.5rem;
    height: 2rem;
}

.badge-google {
    width: 3rem;
    height: 2.6rem;
    padding-left: 2px;
}

.primeira-sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    background: #FCD64F;
}

.modelo {
    width: 10rem;
}

.paragrafo-primeira-sessao {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 3rem;
}

.formulario {
    width: 80%;
    background: #ffffff;

    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    box-shadow: .3px .3px 3px #878B87;
}

.paragrafo-formulario {
    padding-bottom: 1rem;
    border-bottom: 1.5px solid #878B87;
}

.fieldset {
    border: 1.5px solid #878B87;
    border-radius: 3px;
}
.titulo-formulario {
    text-align: left;
}

.input {
    border: none;
    outline: none;   
}
.input-negocios {
    padding-bottom: 4rem;
}

.botao-enviar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem .2rem 0 0;
}

.botao-formulario {
    width: 5rem;
    height: 2rem;

    color: #ffffff;
    background: #15C95D;
    border: none;
    border-radius: 2px;
    outline: none;
    transition: .3s;
    cursor: pointer;
}

.botao-formulario:hover {
    background: #0aa147;
}

/* Section 2 */
.segunda-sessao {
    height: 44rem;

    text-align: center;
    background: #484848;
}

.novos-clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titulo-novos-clientes {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
}

.divs-novos-clientes {
    width: 40%;
}

.titulos-novos-clientes {
    font-size: .9rem;
    font-weight: 400;
    color: #FCD64F;
}

.number-clientes {
    transition: .3s;
}

.number-clientes:hover {
    transform: scale(1.1);
}

.number {
    text-align: left;
    color: #b4b3b3;
    padding: 0 2rem;
    margin: 0;
}

.img-novos-clientes {
    width: 3rem;
    height: 3rem;
}

.paragrafo-novos-clientes {
    text-align: start;
    font-size: .8rem;
    color: #b4b3b3;
}

.terceira-sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #231F20;
}

.computador {
    width: 80%;
    transform: translateY(-50px);
}

.div-ferramentas-exclusivas {
    height: 20rem;
}

.titulo-ferramentas-exclusivas {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    
    margin-top: 0;
}

.subtitulos-ferramentas-exclusivas {
    font-size: 1rem;
    font-weight: 300;
    color: #FCD64F;
    
    padding: 5px 20px 0 20px;
}

.paragrafos-ferramentas-exclusivas {
    font-size: .8rem;
    font-weight: 300;
    color: #ffffff;
    
    padding: 0 20px;
}

.quarta-sessao {
    background: #ffffff;

}

.titulo-investir-em-midia {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 1rem 0 1rem;
}

.paragrafo-investir-em-midia {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.div-separacao {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.check {
    width: 1rem;
    padding-right: .5rem;

}
.subtitulos-investir-em-midia {
    font-size: 1rem;
}

.paragrafos-investir-em-midia {
    text-align: justify;
    font-size: 1rem;
    margin-top: 0;
    padding: 0 25px;
}

.quinta-sessao {
    background: #f0f0f0;
}

.equipe {
    width: 100%;
}

.conte-com-jogga {
    padding: 0 1rem;
}

.titulo-conte-com-jogga {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.paragrafo-conte-com-jogga {
    font-size: .9rem;
    padding-bottom: .5rem;
}

.subtitulo-conte-com-jogga {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}

.icone-telefone {
    width: 1rem;
    padding-right: .5rem;
    margin-top: 0;

}

.paragrafo-telefone {
    font-size: 1rem;
    padding: 0;
}

.div-separacao2 {
    display: flex;
    align-items: center;
    padding: 0;
}

.sexta-sessao {
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FCD64F;
    padding: 2rem;
}

.paragrafo-maior {
    text-align: center;
    font-size: .8rem;
    margin: 0;
}

.paragrafo-menor {
    text-align: center;
    font-size: .7rem;
}

.mapa {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-footer {
    font-size: .5rem;
    font-weight: 400;
}

.endereco {
    font-size: .4rem;
    margin: 0;
}

.logo-footer {
    width: 2rem;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .logo-header {
        width: 5rem;
    }
       
    .badge-facebook {
        width: 4rem;
        height: 2rem;
    }
    
    .badge-google {
        width: 5.3rem;
        padding-left: 2px;
    }

    .paragrafo-primeira-sessao {
        text-align: center;
        padding: 0 10rem;
    }

    .formulario {
        width: 60%;
    }

    .segunda-sessao {
        height: 35rem;
        padding-top: 2rem;
    }

    .novos-clientes {
        display: flex;
        justify-content: center;
    }
    
    .titulo-novos-clientes {
        font-size: 1.5rem;
    }

    .number {
        transform: translateX(70px);
    }
    
    .titulo-ferramentas-exclusivas {
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
    .container {
        overflow: hidden;
    }

    .header {
        height: 7rem;
        display: flex;
        justify-content: space-between;
    }
    
    .logo-header {
        width: 8rem;
        padding-left: 6rem;
    }
    
    .badge-facebook {
        width: 5.3rem;
        height: 3.9rem;
    }
    
    .badge-google {
        width: 7rem;
        height: 100%;
        padding: 0 4rem 0 .7rem;
    }

    .primeira-sessao {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-image: url(./img/wave.svg);
        background-position-x: 50rem;
        background-position-y: 9rem;
        background-size: 40rem;
        background-repeat: no-repeat;
    }
    
    .modelo {
        width: 18rem;
        padding: 0 0 0 6rem;
        transform: translateY(23.2px);
    }
    
    .paragrafo-primeira-sessao {
        font-size: 2rem;
        text-align: left;
        padding: 1rem;
    }
    
    .formulario {
        width: 50rem;   
        height: 27rem; 
        padding: 1rem;
        margin: 0 4rem 1rem 0;
    }

    .titulo-formulario{
        font-size: .9rem;
    }

    .segunda-sessao {
        display: flex;
        height: 20rem;
        
        background-image: url(./img/photo-1521453322559-05b31d920f65.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .novos-clientes {
        width: 68%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 2rem 2rem 0 0;
    }
    
    .titulo-novos-clientes {
        width: 100%;
        text-align: left;
        font-size: 1.5em;
        font-weight: 500;
        transform: translateY(-70px);
        padding-left: 2rem;
    }

    .divs-novos-clientes {
        width: 15rem;
        height: 20rem;
    }

    .titulos-novos-clientes {
        width: 9rem;
        font-size: 1rem;
        font-weight: 500;
        margin: .5rem;
    }

    .number {
        font-size: 1.8rem;
        font-weight: 500;
        transform: translateX(50px);
        padding: 0;
    }
 
    .paragrafo-novos-clientes {
        width: 9rem;
        text-align: center;
        font-size: .8rem;
        margin: 1rem;
    }
    
    .terceira-sessao {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .computador {
        width: 23rem;
        transform: translateY(-100px);
    }
    
    .div-ferramentas-exclusivas {
        width: 50%;
        padding: 2rem 0 0 0;
    }
    
    .titulo-ferramentas-exclusivas {
        text-align: left;
        font-size: 2rem;
    }
    
    .subtitulos-ferramentas-exclusivas {
        font-size: 1rem;
        padding: 0;
    }
    
    .paragrafos-ferramentas-exclusivas {
        font-size: .9rem;
        padding: 0;
    }
    
    .titulo-investir-em-midia {
        font-size: 1.4rem;
        margin-bottom: .9rem;
    }
    
    .paragrafo-investir-em-midia {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .div-investir-em-midia {
        display: flex;
        flex-wrap: wrap;
    }

    .investir-em-midia {
        width: 20%;
        padding: 0 4rem;
    }
    
    .paragrafos-investir-em-midia {
        text-align: left;
    }

    .quinta-sessao {
        display: flex;
    }
    
    .equipe {
        width: 50%;
    }
    
    .conte-com-jogga {
        display: flex;
        align-items: center;
        padding: .3rem 1rem 0 2.5rem;
    }
    
    .titulo-conte-com-jogga {
        text-align: left;
        font-size: 1.6rem;
        margin-top: 0;
    }
    
    .paragrafo-conte-com-jogga {
        font-size: .8rem;
    }
    
    .subtitulo-conte-com-jogga {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .paragrafo-telefone {
        margin: 0;
    }

    .sexta-sessao {
        padding: 5rem 15rem;
    }

    .paragrafo-maior {
        font-size: 1.2rem;
    }
    
    .paragrafo-menor {
        font-size: 1rem;
    }
    
    .footer {
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem;
    }
    
    .titulo-footer {
        text-align: left;
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
    
    .endereco {
        text-align: left;
        font-size: .9rem;
    }
    
    .logo-footer {
        width: 7rem;
    }
}